.filter_button {
    color: grey;
    background: none;
    border: none;
    font-weight: bold;
}

.filter_button:hover {
    color: #35adf2;
    text-decoration: underline;
    border: none;
}

.filter_button:focus {
    outline: none;
}